<section>
    <div class="core-stats">
            <table>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.int"}}</th>
                    <td><input name="data.int" type="text" value="{{data.int}}" data-dtype="Number"></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.stun"}}</th>
                    <td><input name="data.stun" type="text" value="{{data.stun}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.ref"}}</th>                  
                    <td><input name="data.ref" type="text" value ="{{data.ref}}" data-dtype="Number" /></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.run"}}</th>
                    <td><input name="data.run" type="text" value="{{data.run}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.dex"}}</th>
                    <td><input name="data.dex" type="text" value="{{data.dex}}"data-dtype="Number"/></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.leap"}}</th>
                    <td><input name="data.leap" type="text" value="{{data.leap}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.body"}}</th>
                    <td><input name="data.body" type="text" value="{{data.body}}" data-dtype="Number"></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.hp"}}</th>
                    <td><input name="data.hp" type="text" value="{{data.hp}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.spd"}}</th>                  
                    <td><input name="data.spd" type="text" value ="{{data.spd}}" data-dtype="Number" /></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.sta"}}</th>
                    <td><input name="data.sta" type="text" value="{{data.sta}}" data-dtype="Number"></td> 
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.emp"}}</th>
                    <td><input name="data.emp" type="text" value="{{data.emp}}"data-dtype="Number"/></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.enc"}}</th>
                    <td><input name="data.enc" type="text" value="{{data.enc}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.cra"}}</th>
                    <td><input name="data.cra" type="text" value="{{data.cra}}" data-dtype="Number"></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.rec"}}</th>
                    <td><input name="data.rec" type="text" value="{{data.rec}}" data-dtype="Number"></td>
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.will"}}</th>                  
                    <td><input name="data.will" type="text" value ="{{data.will}}" data-dtype="Number" /></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.punch"}}</th>
                    <td><input name="data.punch" type="text" value="{{data.punch}}" data-dtype="Number"></td> 
                </tr>
                <tr>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.luck"}}</th>
                    <td><input name="data.luck" type="text" value="{{data.luck}}"data-dtype="Number"/></td>
                    <th style="text-align:center;">{{localize "witcherrpg.coreStats.kick"}}</th>
                    <td><input name="data.kick" type="text" value="{{data.kick}}" data-dtype="Number"></td>
                </tr>
            </table>
    </div>
    <div class=calc-stats>

    </div>
</section>