<form class="{{cssClass}}" autocomplete="off">
            <div class="sidebar">
                  <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="98" width="64"/>
            </div>
    <div class="sheet-content">
            <div class="item-header">
                 <table>
                    <tr>
                        <th style="text-align:left;">{{localize "witcherrpg.weaponAtt.weaponName"}}</th>
                        <th style="text-align:right;">{{localize "witcherrpg.weaponAtt.weaponHand"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <h3><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
                        </td>
                        <td>
                            <h3 style="text-align:right;"><input name="data.weaponHand" type="text" value="{{data.weaponHand}}"/></h3>
                        </td>              
                    </tr>
                </table>
            </div>
        <div class="item-body">
            <table>
            <tr>
                <th style="text-align:left;">{{localize "witcherrpg.weaponAtt.weaponAcc"}}</th>
                <th style="text-align:center;">{{localize "witcherrpg.weaponAtt.weaponDMG"}}</th>   
                <th style="text-align:center;">{{localize "witcherrpg.weaponAtt.weaponDMGType"}}</th>              
                <th style="text-align:right;">{{localize "witcherrpg.weaponAtt.weaponType"}}</th>
            </tr>
            <tr>
                <td>
                    <h3></h3><input name="data.weaponAcc" type="text" value ="{{data.weaponAcc}}" data-dtype="Number" /></h3>
                </td>
                <td>
                    <h3 style="text-align:center;"><input name="data.weaponDMG" type="text" value ="{{data.weaponDMG}}" data-dtype="String" /></h3>
        
                </td>
                <td>
                    <h3 style="text-align:center;"><input name="data.weaponDMGType" type="text" value ="{{data.weaponDMGType}}" data-dtype="String" /></h3>
        
                </td>
                <td>
                    <select name="data.weaponType">
                        {{#select data.weaponType}}
                        {{#each config.weaponList as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
            </table>
            <h3 style="text-align:center; font-weight: bold";>{{localize "witcherrpg.weaponAtt.weaponEffect"}}</h3>
            <textarea name="data.weaponEffect">{{data.weaponEffect}}</textarea>
        </div>
        <div class="item-footer">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <h4>{{localize "witcherrpg.weaponAtt.weaponConc"}}  </h4>
                    <h4><input name="data.weaponConc" type="text" class="singleVal" value ="{{data.weaponConc}}" data-dtype="String" /></h4>
                </div>

            </form>            
            <table>
                    <tr>
                        <th style="text-align:left;">{{localize "witcherrpg.weaponAtt.weaponCost"}}</th>
                        <th style="text-align:center;">{{localize "witcherrpg.weaponAtt.weaponWeight"}}</th>                
                        <th style="text-align:right;">{{localize "witcherrpg.weaponAtt.weaponRel"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <h3><input name="data.weaponCost" type="text" value ="{{data.weaponCost}}" data-dtype="Number" /></h3>
                        </td>
                        <td>
                            <h3 style="text-align:center;"><input name="data.weaponWeight" type="text" value ="{{data.weaponWeight}}" data-dtype="Number" /></h3>
                        </td>
                        <td>
                            <h3 style="text-align:right;"><input name="data.weaponRel" type="text" value ="{{data.weaponRel}}" data-dtype="Number" /></h3>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</form>